db.sqlite3
geckodriver.log
__pycache__
*.pyc

.DS_Store
/vue-four-a/node_modules
/vue-four-a/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
