{% extends "layout/basic.html" %}

{% block title %}Контакты{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col div m-3">
			<h1 class="text-white">Контакты</h1>
			<h3 class="text-white">Все участники группы "4А".</h3>
			<a class="text-primary" href="https://vk.com/ulitka148">МП</a><br>
			<a class="text-info" href="https://vk.com/id128007891">МЦ Татар</a><br>
			<a class="text-success" href="https://vk.com/id139102402">Блонда ака МС Глаголь</a><br>
			<a class="text-danger" href="https://vk.com/nice_to_meet_you_hi_my_name_is">R1Ng0</a><br>
			<a class="text-warning" href="https://vk.com/club51088937">Группа в ВК</a>
		</div>
	</div>
</div>
{% endblock %}