{% extends "layout/basic.html" %}

{% load bootstrap4 %}

{% block title %}Создание текстов{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-9 div m-3">
			<h1 class="text-white border-danger">Добавить текст</h1>
			<form class="text-white" method="post">
				{% csrf_token %}
				{% bootstrap_form form layout='horizontal' %}
				<button class="btn btn-danger my-3" type="submit" >Спасти и Сохранить</button>
			</form>
		</div>
	</div>
</div>
{% endblock %}