{% extends "layout/basic.html" %}

{% block title %}Фотки{% endblock %}

{% block content %}
<div class="container">
	{% if user.is_authenticated %}
	<div class="row">
		<div class="col-sm-12 col-lg-3 div m-3">
			<a class="text-white btn btn-danger m-3" type="submit" href="{% url 'main:add_images' %}">Добавить фотку</a>
		</div>
	</div>
	{% endif %}
	<div class="row">
		{% for image in images %}
		<div class="col-sm-12 col-lg-5 div m-3">
			<a href="{% url 'main:detail_images' pk=image.pk %}"><img width="100%"  class="rounded my-3" src="{{ image.image }}"></a>
		</div>
		{% endfor %}
	</div>
	<div class="row">
		<div class="col">
			<nav class="" aria-label="Page navigation example">
  			<ul class="pagination">
  				{% if page.has_previous %}
    			<li class="page-item"><a class="page-link text-dark" href="?page={{ page.previous_page_number }}">Previous</a></li>
    			{% endif %}
    			{% for obj in page.paginator.page_range %}
    			<li class="page-item"><a class="page-link text-dark" href="?page={{ obj }}">{{ obj }}</a></li>
    			{% endfor %}
    			{% if page.has_next %}
    			<li class="page-item"><a class="page-link text-dark" href="?page={{ page.next_page_number }}">Next</a></li>
    			{% endif %}
  			</ul>
			</nav>
		</div>
	</div>
</div>
{% endblock %}
